<!DOCTYPE html>
<html id="app">
<head>
	<meta charset="utf-8" />
	<title>IPA Keyboard</title>
	<meta name="description" content="International Phonetic Alphabet Keyboard" />
	<meta name="author" content="Jorge Moreno. @alterebro" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Voces&subset=latin,latin-ext" />
	<link rel="stylesheet" type="text/css" href="frontend/styles/app.css" />
</head>
<body>

<main>
	<textarea id="data-input" rows="10" cols="40"
		v-model="input"
		@keyup="onKeyUp"
		@keypress="onKeyPress"
		@keydown="onKeyDown"
	></textarea>
	<p>{{ output }}</p>

	<div v-if="helper_chars.length" transition="dissolve">
		<strong>Press tab &#8677; to cycle through special chars list : </strong>
		<template v-for="c in helper_chars">
			<button
				@click="addChar(c)"
				:class="helper_chars[helper_chars_current] == c ? 'current' : ''">
				{{ c }}
			</button>
		</template>
	</div>
</main>

<aside>
	<h3>Maps</h3>
	<ul>
		<li v-for="map in maps">
			<label>
				<input
					type="radio"
					name="current-map"
					@click="setMap($key)"
					v-model="current_keymap"
					v-bind:id="'current-map-'+$key"
					v-bind:value="$key" />
				{{ $key }}
			</label>
		</li>
	</ul>

	<h3>current: {{ current_keymap }}</h3>
	<ul>
		<li v-for="k in keymap">
			<button @click="addChar($key)">{{ $key }}</button> :
				<template v-for="i in k">
				<button @click="addChar(i)">{{ i }}</button>
				</template>
		</li>
	</ul>
</aside>

<script type="text/javascript" src="frontend/scripts/mousetrap-1.5.3.min.js"></script>
<script type="text/javascript" src="frontend/scripts/vue.js"></script>
<script type="text/javascript" src="frontend/scripts/app.js"></script>
</body>
</html>
