<!DOCTYPE html>
<html id="app">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>IPA Keyboard</title>
	<meta name="description" content="IPA Keyboard. International Phonetic Alphabet Symbols." />
	<meta name="author" content="Jorge Moreno aka moro, moro.es (@alterebro)" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
	<!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<meta name="twitter:title" property="og:title" itemprop="title name" content="IPA Keyboard" v-bind:content="metadata.title" />
	<meta name="twitter:description" property="og:description" itemprop="description" content="IPA Keyboard. International Phonetic Alphabet Symbols" v-bind:content="metadata.description" />
	<meta name="twitter:url" property="og:url" itemprop="url" content="http://alterebro.github.io/IPA-Keyboard/" v-bind:content="metadata.url" />
	<meta name="twitter:image" property="og:image" itemprop="image" content="http://alterebro.github.io/IPA-Keyboard/frontend/images/ipa-keyboard.jpg" />
	<meta property="og:type" content="website" />
	<meta property="fb:admins" content="636040175" />
	<meta property="article:author" content="https://www.facebook.com/alterebro" />
	<meta property="article:publisher" content="https://www.facebook.com/alterebro" />
	<link href="https://plus.google.com/104877504101033707627/posts" rel="author" />
	<link href="https://plus.google.com/104877504101033707627" rel="publisher" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@alterebro" />
	<meta name="twitter:creator" content="@alterebro" />

	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="google" content="notranslate" />
	<meta name="robots" content="index, follow" />

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Voces&subset=latin,latin-ext" />
	<link rel="stylesheet" type="text/css" href="frontend/styles/app.css" />
</head>
<body v-bind:class="{'no-sidebar' : hide_sidebar}">

<div id="main">
	<header>
		<h1>
			<i class="fa fa-fw fa-keyboard-o"></i>
			<strong v-text="lang._title">IPA Keyboard</strong>. <span v-text="lang._tagline">International Phonetic Alphabet Symbols.</span>
		</h1>
		<p class="hamburguer-icon"><a href="#sidebar" title="Sidebar Display Switcher" v-on:click.prevent="toogle_sidebar()"><span>&#x2261;</span></a></p>
	</header>

	<section>
		<textarea id="data-input" rows="10" cols="40"
			v-model="input"
			@keyup="onKeyUp"
			@keypress="onKeyPress"
			@keydown="onKeyDown"
			placeholder="_lang._placeholder"></textarea>

		<div v-if="helper_chars.length" transition="dissolve" id="helper" v-bind:style="{ top: helper_coordinates.top + 'px', left: helper_coordinates.left + 'px' }">
			<dl>
				<dt v-html="lang._helper_desc">Press tab &#8677; to cycle through</dt>
				<dd>
					<template v-for="c in helper_chars">
						<button
							@click="addChar(c)"
							:class="helper_chars[helper_chars_current] == c ? 'current' : ''">
							{{ c }}
						</button>
					</template>
				</dd>
			</dl>
		</div>
	</section>

	<footer>
		<p>
			<i class="fa fa-fw fa-code"></i>
			<span v-html="lang._footer_created">Design &amp; development by</span> <strong>Jorge Moreno</strong>
			aka <a href="http://moro.es" target="_blank" title="Jorge Moreno aka Moro. Front End Web Developer and UI Designer. Zaragoza, Spain">moro</a>.
			( <a href="https://twitter.com/alterebro" target="_blank" title="@alterebro. Web Development and Design">@alterebro</a> )
		</p>
		<ul>
			<li><a href="http://twitter.com/share?text={{ metadata.title | urlencode }}&url={{ metadata.url | urlencode }}&via=alterebro" title="Share on Twitter" data-network="twitter"><i class="fa fa-twitter"></i> <span>Share on Twitter</span></a></li>
			<li><a href="http://www.facebook.com/sharer.php?u={{ metadata.url | urlencode }}&t={{ metadata.title | urlencode }}" title="Share on FaceBook" data-network="facebook"><i class="fa fa-facebook-official"></i> <span>Share on FaceBook</span></a></li>
			<li><a href="https://plusone.google.com/_/+1/confirm?hl=en&url={{ metadata.url | urlencode }}" title="Share on Google+" data-network="googleplus"><i class="fa fa-google-plus"></i> <span>Share on GooglePlus</span></a></li>
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ metadata.url | urlencode }}&title={{ metadata.title | urlencode }}&summary={{ metadata.description | urlencode }}" title="Share on LinkedIn" data-network="linkedin"><i class="fa fa-linkedin-square"></i> <span>Share on LinkedIn</span></a></li>
		</ul>
	</footer>
</div>

<div id="sidebar">
	<aside>
		<h3 v-on:click.prevent="toogle_sidebar()" v-text="lang._options_menu">Options Menu</h3>

		<dl v-bind:class="aside_menu_type_open ? 'aside-dl-open' : aside-dl-close">
			<dt @click="toggle_menu_type()"><dfn><span v-text="lang._keyboard_type">Keyboard Type</span> : <strong>{{ current_keymap | beautify }}</strong></dfn></dt>
			<dd>
				<ul class="option-list">
					<li v-for="map in maps">
						<label><input type="radio" name="current-map"
									@click="setMap($key)"
									v-model="current_keymap"
									v-bind:id="'current-map-'+$key"
									v-bind:value="$key" />{{ $key | beautify }}</label>
					</li>
				</ul>
			</dd>
		</dl>

		<dl v-bind:class="aside_menu_keys_open ? 'aside-dl-open' : aside-dl-close">
			<dt @click="toggle_menu_keys()"><dfn><span v-text="lang._current_keys">Current Key Bindings</span> ( <strong>{{ current_keymap | beautify }}</strong> )</dfn></dt>
			<dd>
				<ul id="characters-mapped">
					<li v-for="k in keymap">
						<button @click="addChar($key)" class="char-trigger">{{ $key }}</button>
						<template v-for="i in k"><button @click="addChar(i)" class="char-item">{{ i }}</button></template>
					</li>
				</ul>
			</dd>
		</dl>

		<dl v-bind:class="aside_menu_lang_open ? 'aside-dl-open' : aside-dl-close">
			<dt @click="toggle_menu_lang()"><dfn><span v-text="lang._ui_lang">UI Interface Language</span> ( {{ langs[current_lang] }} )</dfn></dt>
			<dd>
				<ul class="option-list">
					<li v-for="l in langs">
						<label><input
							type="radio" name="current-lang"
							@click="setLang($key)"
							v-model="current_lang"
							value="{{ $key }}">{{ l }}</label>
					</li>
				</ul>
			</dd>
		</dl>
	</aside>
</div>

<script type="text/javascript" src="frontend/scripts/textarea-caret-position.js"></script>
<script type="text/javascript" src="frontend/scripts/mousetrap-1.5.3.min.js"></script>
<script type="text/javascript" src="frontend/scripts/vue.js"></script>
<script type="text/javascript" src="frontend/scripts/app.js"></script>
</body>
</html>
