@font-face {
    font-family: 'dejavusans';
    src: url('../fonts/dejavusans_book/DejaVuSans-webfont.eot');
    src: url('../fonts/dejavusans_book/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusans_book/DejaVuSans-webfont.woff') format('woff'),
         url('../fonts/dejavusans_book/DejaVuSans-webfont.ttf') format('truetype'),
         url('../fonts/dejavusans_book/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'dejavusans';
    src: url('../fonts/dejavusans_extralight/DejaVuSans-ExtraLight-webfont.eot');
    src: url('../fonts/dejavusans_extralight/DejaVuSans-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusans_extralight/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
         url('../fonts/dejavusans_extralight/DejaVuSans-ExtraLight-webfont.ttf') format('truetype'),
         url('../fonts/dejavusans_extralight/DejaVuSans-ExtraLight-webfont.svg#dejavu_sansextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*!	armazon.css v0.3.1 - Lightweight and Supersimple CSS3 Boilerplate Micro Framework built on LESS
 	(c) 2016 Jorge Moreno ( @alterebro ) - MIT License - https://github.com/alterebro/armazon.css
*/
// --------------------------------------------
// Variables @less
@armazon-mobile-breakpoint 		: 580;		// width to filter mobile devices
@armazon-desktop-breakpoint 	: 960; 		// width to fire desktop layout filtering
@armazon-margin 				: 3.6rem; 	// Global margin
@armazon-color-background 		: #304352;	// Global Background Color
@armazon-color-foreground 		: #d7d2cc; 	// Global Foreground & Text Color
@armazon-color-primary 			: #cdc83c; 	// Links and Buttons Color
@armazon-color-neutral 			: #a0a0a0; 	// Neutral Grey

/*
	#135058, #F1F2B5
	#304352, #d7d2cc;
*/


// --------------------------------------------
// Media Queries
@mobile 	: ~"all and (max-width: @{armazon-mobile-breakpoint}px)"; 	// Default
@non-mobile : ~"all and (min-width: @{armazon-mobile-breakpoint}px)"; 	// Matchs both @tablet and @desktop
@tablet 	: ~"all and (min-width: @{armazon-mobile-breakpoint}px) and (max-width: @{armazon-desktop-breakpoint}px)";
@desktop 	: ~"all and (min-width: @{armazon-desktop-breakpoint}px)";

// --------------------------------------------
// Mixins @less
.transition( @value : all 0.25s ease-out) {
	-webkit-transition: @value;
	transition: @value;
}

// --------------------------------------------
// Global
html, body {
	margin: 0;
	padding: 0;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	font-size: 1.6em;
	line-height: 1.5;
	background: @armazon-color-background;
	color: @armazon-color-foreground;
}
*, *:before, *:after {
	box-sizing: inherit;
}

// --------------------------------------------
// HTML5 display definitions
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
[hidden], template {
	display: none;
}

// --------------------------------------------
// Links
a {
	background-color: transparent;
	text-decoration: none;
	color: @armazon-color-primary;
	border-bottom: solid transparent 1px;
}
a:active, a:hover {
	outline: 0;
	color: @armazon-color-foreground;
	border-bottom: solid @armazon-color-primary 1px;
}
a, a * {
	.transition();
}
// --------------------------------------------
// Text-level semantics
abbr[title], acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

blockquote {
	quotes: "\201C""\201D""\2018""\2019";
	&:before {
		color: @armazon-color-neutral;
		font-size: 4rem;
		line-height: 0.1em;
		padding: 0 .25rem;
	}
	&:before {
		content: open-quote;
		vertical-align: -1rem;
	}
	p { display: inline; }
}

// --------------------------------------------
// Forms
button,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
	text-transform: none;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	display: inline;
}
label {
	display: block;
}

// --------------------------------------------
// Lists
dl {
	dt dfn {
		font-style: normal;
	}
	dd {
		color: @armazon-color-neutral;
	}
}

// --------------------------------------------
// Pseudo-elements
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

// armazon.css eof
// --------------------------------------------
// --------------------------------------------
// Author's custom styles :

@ui-margin : 20px;
@ui-header-height : 60px;
@ui-footer-height : 50px;
@ui-sidebar-width : 300px + (@ui-margin*2);

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	background-color: darken(@armazon-color-background, 5%);
	background-image: radial-gradient(circle at 70% 100%, #97927c, transparent 100%);
}
body > * {
	font-family: 'dejavusans', 'Voces', sans-serif;
	font-size: 1.4rem;
	font-weight: normal;
}
h1, dl, dt, dd, ul, li, p {
	margin: 0;
	padding: 0;
	list-style: none;
}


body {
	padding: 0 @ui-sidebar-width 0 0;
}
#main {
	width: 100%;
	height: 100%;
	position: relative;

	header {
		position: absolute;
		top: 0;
		left: 0;
		height: @ui-header-height;
		line-height: @ui-header-height;
		width: 100%;
		padding: 0 @ui-margin + 5px;

		h1 {
			white-space: nowrap;
	        overflow: hidden;
	        text-overflow: ellipsis;
			font-size: 1.4rem;
			font-weight: normal;

			strong {
				font-weight: bold;
				color: #fff;
			}
		}

	}

	section {
		width: 100%;
		height: 100%;
		padding: @ui-header-height @ui-margin @ui-footer-height;

		textarea {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: #fff;
			color: @armazon-color-background;
			border: none;
			border-radius: none;
			display: block;
			vertical-align: top;
			width: 100%;
			height: 100%;
			padding: @ui-margin;
			overflow: auto;
			resize: none;
			.transition();
			font-size: 2rem;
			box-shadow:
				0 2px 40px 5px fade(#000, 20%),
				0 1px 0 1px fade(#000, 10%)
			;
		}
		textarea:focus {
			border: none;
			outline: 0;
		}
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		height: @ui-footer-height;
		line-height: @ui-footer-height;
		width: 100%;
		padding: 0 @ui-margin + 5px;

		p {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 1.2rem;

			a {
				font-weight: bold;
			}
		}
	}
}
#sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: @ui-sidebar-width;
	height: 100%;
	overflow: auto;

	background: fade(#000, 10%);
	box-shadow:
		-1px 0 0 fade(#fff, 10%),
		inset 1px 0 0 fade(#000, 10%),
		inset 3px 0 0 fade(#000, 10%)
	;

	padding: 0 @ui-margin;
}

#sidebar {

	dl {
		padding: @ui-margin 0;
		cursor: pointer;

		dt {
			position: relative;
			height: @ui-header-height - @ui-margin;
			line-height: @ui-header-height - @ui-margin;
			padding: 0 @ui-margin;
			background: @armazon-color-primary;
			color: @armazon-color-background;
			overflow: hidden;
			border-radius: 4px;

			&:after {
				content: '\25bc';
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				height: @ui-header-height - @ui-margin;
				width: @ui-header-height - @ui-margin;
				border-left: dotted fade(#000, 50%) 1px;
				text-align: center;
				font-size: 10px;
			}
		}
		dd {
			display: none;
			position: absolute;
			width: @ui-sidebar-width - (@ui-margin*2);
			background: fade(#fff, 90%);
			color: @armazon-color-background;
			border-radius: 4px;
			margin: 5px 0 0 0;

			ul {
				padding: @ui-margin 0;

				li {
					label {
						cursor: pointer;
						padding: 5px @ui-margin;
						font-weight: bold;
					}
				}
			}
		}

		&:hover {
			dd { display: block; }
		}
	}
}



#ad {
	display: none;
	margin-top: @ui-margin;
	width: 300px;
	height: 250px;
	background: rgba(0, 0, 0, .2);
}
#helper {
	display: inline-block;
	width: auto;
	position: absolute;
	top: 0;
	left: 0;

	dl {
		border-radius: 5px;
		padding: 10px;
		width: 100%;
		background: #fff;
		border: solid #ccc 1px;
		box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .1);
		position: relative;
		margin-left: -50%;
		dt {
			font-size: 70%;
		}
	}
}
.current { border: solid #222 2px; }
.dissolve-transition {
//	position: absolute;
//	top: 5px;
	transition: all .25s ease;
	opacity: 1;
}
.dissolve-enter, .dissolve-leave {
	opacity: 0;
//	top: -5px;
}





button,
html input[type="button"],
input[type="button"] {
	-webkit-appearance: button;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	border: none;
	white-space: nowrap;
	vertical-align: top;
	.transition();
}

#characters-mapped {
	li {
		display: block;
		float: left;
	}
	button {
		display: block;
		float: left;
		width: 2.6rem;
		height: 2.6rem;
		margin: 0 2px 2px 0;
	}
	button.char-trigger {
		background: fade(#000, 5%);
		color: @armazon-color-foreground;
		font-size: 1.2rem;
		font-weight: bold;
	}
	button.char-item {
		background: @armazon-color-primary;
		color: @armazon-color-background;
		&:hover {
			background: #fff;
			-ms-transform: scale(1.5);
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
		}
	}
}




/*

button:hover, button:focus,
html input[type="button"]:hover, html input[type="button"]:focus,
input[type="button"]:hover, input[type="button"]:focus {
	text-decoration: none;
	background: @armazon-color-foreground;
	color: @armazon-color-background;
	border: none;
	outline: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}
*/

/*
#characters-mapped {

	margin: 20px 0 0 0;
	li {
		display: inline-block;
		padding: 5px;
		margin: 2px;
		border-radius: 5px;
		background: #fafafa;
	}
}
*/
